<%= partial :header %>
<div class=" main narrow">
	<div class="row">
		<div class="container ">
			<h1>Account</h1>
			<!--<section>
				<form>
					<fieldset>
						<legend>Info</legend>
						<label>Organisation name</label>
						<input type="text" placeholder="Your organisation" value="<%= auth_info['user'] %>">
					</fieldset>
					<fieldset>
						<legend>Password</legend>
						<label>New password</label>
						<input type="password">

						<label>Confirm new password</label>
						<input type="password">

					</fieldset>
					<div>
						<input type="submit" value="Update" class="btn">
					</div>
				</form>
			</section>-->
			
			<section>
				<h2>JavaScript code for landing pages</h2>

				<p>Follow these steps to embed extracted references on your article landing pages:</p>

				<ol>
					<li><p>Add a dc.identifier meta tag to your landing page header:</p>
					    <pre><head><meta name="dc.identifier">10.5555/12345678</meta></head></pre>
					</li>
					<li>Include the JavaScript widget:
					<textarea>
					</textarea>				
					<a href="#" class="button">Copy to clipboard</a>
					</li>
				</ol>

			</section>

		</div>
	</div>
</div>
