<%= partial :header %>
<div class="row">
	<div class="container">
		<h1>Account</h1>
		<h2>Settings</h2>
		<form>
			<label>Organisation name</label>
			<input type="text" placeholder="Your organisation" value="Organisation name">

			<a href="#">Change password</a>

		</form>

		<h2>JS code for your CMS</h2>
		<textarea>" value="<script>js here</script>"></textarea>
		<a href="#" class="button">Copy to clipboard</a>

	</div>
</div>
