<div>
  <% if !citation.nil? %>
    <textarea id="citation-textarea"><%= citation['text'] %></textarea>
    <button class="btn">Choose</button>
    <table id="results-table">
    </table>
  <% end %>  
</div>