<%= partial :header %>

<div class="row doi-page">
	<div class="container">

		<div class="doi">DOI: <%= doi %></div>
		<h1 id="search-result"></h1>

		<form id="form-doi" method="post">
			<label>DOI</label>
			<input type="text" id="doi-input" name="doi" placeholder="Enter a DOI" value="<%= doi %>">  
			<h2>Owner</h2>
		</form>
		
		<span id="search-result-owner" class="owner"></span>
		<span id="search-result-prefix" class="prefix"></span>
		<div>
			<button id="btn-next-citations" class="btn btn-success disabled"><i class="icon-circle-arrow-right"></i> Next</button>
			<button id="btn-back-upload" class="btn"><i class="icon-circle-arrow-left"></i> Upload a different PDF</button>
		</div>

	</div>
</div>


