<div>
  <form method="post">
    <input id="doi-input" type="text" name="doi" value="<%= doi %>"/>
    <button class="btn">Next</button>
  </form>
</div>
<div id="search-result"></div>

<script>
  $(document).ready({
    $("#doi-input").change(function(e) {
      $.ajax({url: "http://search.labs.crossref.org/dois?q=" + 
    });
  });
</script>