<%= partial :header %>

<div class="row">
  <div class="span10 offset1">
    <%= partial :steps, :position => :doi %>

    <form method="post">
      <textarea class="lead full-width" rows="1" id="doi-input" name="doi"
	     placeholder="Enter a DOI"><%= doi %></textarea>
      <h3 class="muted">DOI resolves to:</h3>
      <div class="well" id="search-result">
      </div>
      <div class="pull-right">
      	 <button class="btn">Next</button>
      </div>
    </form>

  </div>
</div>


