<header class="row negative">
	<div class="container group">
		<div class="logo">
			<a href="/"><h2>CrossRef Reference Extraction</h2></a>
		</div>
		<ul class="nav group">
			<% if has_authed? %>
			<li><a href="/deposits">Deposits</a></li>
			<li><a href="http://help.crossref.org">Support</a></li>
			
			
				<li class="dropdown">
				<a href="#"><%= auth_info['user'] %><span class="triangle">&#9660;</span></a>
					<ul class="visuallyhidden">
						<li><a href="/auth/account">Account</a></li>
						<li><a href="/auth/logout">Sign&nbsp;out</a></li>
					</ul>
				</li>
			<% else %>
				<li><a href="/signin">Sign&nbsp;in</a></li>
				<li><a href="http://www.crossref.org/01company/join_crossref.html">Join CrossRef</a></li>
			<% end %>

		</ul>		
	</div>

</header>

