<!-- <div class="contain">
  <div class="row header-row">
	<div class="span12">

	  <div class="pull-right">
		<ul class="nav nav-pills" style="font-size: 1.4em; margin-top: .3em; margin-bottom: .7em;">
	<li><a href="/help/widget"><i class="icon-cogs"></i> Widget</a></li>
		  <li><a href="/help"><i class="icon-question-sign"></i> Help</a></li>
	<% if has_authed? %>
			<li class="dropdown">
			  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="icon-group"></i> 
		  <%= auth_info['user'] %>
		  <b class="caret"></b>
			  </a>
			  <ul class="dropdown-menu">
				<li><a href="/activity"><i class="icon-tasks"></i> Activity</a></li>
				<li><a href="/auth/logout"><i class="icon-signout"></i> Sign out</a></li>
			  </ul>
			</li>
		  <% end %>
		</ul>
	  </div>
	  
	  <a href="/"><img id="header-logo" src="/img/logo.png"></img></a>
	</div>
  </div>
</div> -->

<header class="row negative">
	<div class="container group">
		<div class="logo">
			<a href="/"><img id="header-logo" src="/img/logo.png"></img></a>
		</div>
		<ul class="nav group">
			<li><a href="/activity">Deposits</a></li>
			<li><a href="#">How it works</a></li>
			<li><a href="http://depositor.labs.crossref.org/help">Support</a></li>
			
			<% if has_authed? %>
				<li class="dropdown">
				<a href="#"><%= auth_info['user'] %><span class="triangle">&#9660;</span></a>
					<ul class="visuallyhidden">
						<li><a href="/auth/logout">Sign out</a></li>
						<li><a href="/auth/account">Account</a></li>
					</li>
				</ul>
			<% else %>
				<li><a href="/signin">Sign in</a></li>
			<% end %>

		</ul>		
	</div>

</header>

