<div class="row header-row">
  <div class="span12">
    <div class="pull-right">
      <h5 class="muted">Signed in as <%= auth_info['user'] %></h6>
      <a href="/auth/logout">Sign out</a>  
    </div>
    <img src="/img/logo.png"/>
  </div>
</div>
<hr/>