<%= partial :header %>
	
<div class="jumbotron masthead negative">
	<div class="container">
		<h1>Deposit your citations</h1>
		<p class="byline">Automatically extract citations directly from .pdf files… <i>without</i> XML.</p>

		  <a href="#" class="btn btn-primary btn-large">Sign up now</a>

		<p>Already registered? <a href="#">Sign in</a></p>
	</div>
</div>


<div class="marketing">
	<div class="container group">
		<ul class="three-col">
			<li>
				<h2>Metadata</h2>
				<p>Create citation metadata directly from your PDFs.</p>
			</li>
			<li>
				<h2>DOIs</h2>
				<p>Link citations to DOIs automatically.</p>
			</li>
			<li>
				<h2>Linked citation</h2>
				<p>Display linked citations on your article landing pages.</p>
			</li>
	  	</ul>
	</div>
</div>
<div class="explaination">
	<div class="container">
		<h2>How it works</h2>
		<ol class="four-col">
			<li>
				<img src="http://placehold.it/600x600" alt="#">
				<h3>A PDF article is uploaded.</h3>
			</li>
			<li>
				<img src="http://placehold.it/600x600" alt="#">
				<h3>The article is assigned a DOI.</h3>
			</li>
			<li>
				<img src="http://placehold.it/600x600" alt="#">
				<h3>Citations are extracted and assigned DOIs.</h3>
			</li>
			<li class="last">
				<img src="http://placehold.it/600x600" alt="#">
				<h3>Citations can then be embeded on the article’s landing page.</h3>
			</li>
		</ol>
		<div>
			<p>You need to be a CrossRef member to upload use CiteDepo.<br><a href="#">Find out how to join.</a></p>
		</div>
	</div>
</div>
