<%= partial :header %>



<div class="jumbotron masthead negative">
	<div class="container">
		<h1>Deposit your citations</h1>
		<p class="byline">Automatically extract citations directly from .pdf files… <i>without</i> XML.</p>

		  <a href="#" class="btn btn-primary btn-large">Sign up now</a>

		<p>Already registered? <a href="#">Sign in</a></p>
	</div>
</div>

<div class="container">
	<div class="marketing">
		<div class="row-fluid">
			<div class="span4">
				<h2>Metadata</h2>
				<p>Create citation metadata directly from your PDFs.</p>
			</div>
			<div class="span4">
				<h2>DOIs</h2>
				<p>Link citations to DOIs automatically.</p>
			</div>
			<div class="span4">
				<h2>Linked citation[</h2>
				<p>Display linked citations on your article landing pages.</p>
			</div>
	  	</div>
	</div>
</div>