<%= partial :header %>
	
<div class="jumbotron masthead negative">
	<div class="container">
		<h1>Deposit your citations</h1>
		<p class="byline">Automatically extract citations directly from .pdf files… <i>without</i> XML.</p>
		<a href="/signin" class="btn btn-primary btn-large">Sign in</a>

		<p>Not a CrossRef member? <a href="http://www.crossref.org/01company/join_crossref.html">Join now</a></p>
	</div>
</div>


<section class="marketing">
	<div class="container group">
		<ul class="three-col">
			<li class="one">
				<h2>Metadata</h2>
				<p>Create citation metadata directly from your PDFs.</p>
			</li>
			<li class="two">
				<h2>DOIs</h2>
				<p>Link references to DOIs automatically.</p>
			</li>
			<li class="three">
				<h2>Linked citation</h2>
				<p>Display linked references on your article landing pages.</p>
			</li>
	  	</ul>
	</div>
</section>
<section class="explaination">
	<div class="container">
		<h2>How it works</h2>
		<ol class="four-col group">
			<li class="one">

				<h3>Upload a pdf</h3>
			</li>
			<li class="two">
				<h3>Choose a DOI to deposit references against</h3>
			</li>
			<li class="three">
				<h3>References are extracted, linked to DOIs and deposited with CrossRef</h3>
			</li>
			<li class=" four last">
				<h3>Linked references can then be embeded on the article’s landing page</h3>
			</li>
		</ol>
	</div>
</section>

<section class="signup">
	<div class="container">
		<h2>You need to be a CrossRef member to upload PDFs and use CrossRef Reference Extraction.</h2>
		<a href="http://www.crossref.org/01company/join_crossref.html" class="btn">How to join</a>
	</div>
</section>
