<div class="container" style="margin-top: 6em;">
  <div class="row">
    <div class="span4 offset1">
      <img src="/img/logo.png"/>
      <div class="lead">
        <ul>
          <li>Create citation metadata directly from your PDFs.</li>
  	  <li>Link citations to DOIs automatically.</li>
  	  <li>Display linked citations on your article landing pages.</li>
	  <li>Fulfil your CrossRef citation linking obligation!</li>
        </ul>
        <p>All without coding anything at all!</p>
      </div>
    </div>
    <div class="span4 offset2">
      <form class="form-horizontal">
        <legend>Come on in!</legend>
        <div class="control-group">
	  <input class="input-xlarge" placeholder="Username" name="user"/>
	</div>
	<div class="control-group">
	  <input class="input-xlarge" placeholder="Password" name="pass"/>
        </div>
	<button class="btn" type="submit">Sign in</button>
      </form>
      <p>Don't have a username? You must be a CrossRef member to use our Citation
         Depositor. Find out 
	 <a href="http://www.crossref.org/01company/join_crossref.html">how to join</a>.
      </p>
    </div>
  </div>
</div>