<div class="container">
  <div class="row">
    <div class="span10 offset1">
      <div class="well"> 
        <textarea class="full-width very-tall" readonly="true">This is a licence.</textarea>
      </div>
      <form method="get">
        <div class="pull-right">
          <input type="hidden" name="accept" value="true"/>
          <button class="btn" type="submit">I accept</button>
        </div>
      </form>
    </div>
  </div>
</div>
    