<div class="main narrow">
<div class="container">

      <h1>Licence</h1>
      <textarea class="full-width very-tall" readonly="true">This is a licence.</textarea>

      <form method="get">
        <input type="hidden" name="accept" value="true"/>
        <button class="btn" type="submit">I accept</button>
      </form>
  </div>
</div>
    