<%= partial :header %>

<script src="https://api.filepicker.io/v1/filepicker.js"></script>
<script type="text/javascript">
	filepicker.setKey('AXid9uyt4Tva7JAusFkHBz');
</script>
<div class="row page-upload">
	<div class="container ">
		<form id="upload-form" method="post">
			<h1>Make a deposit</h1>
			<label>PDF</label>
			<div class="btn" id="pick-button">Choose a .pdf</div>

			<label>Article DOI</label>
                        <input type="text" name="article_doi"></input>

			<label>Title</label> 
			<input type="text">
			
			<label>Abbr.</label>
			<input type="text">

			<label>Journal DOI</label>
			<input type="text">
			
			<label>Issue DOI </label>
			<input type="text">

			<label>URL</label>
			<input type="url">

			<label>ISSN</label>
			<input type="text">

<!--       <label>Volume</label>
			<input type="text">

			<label>Issue</label>
			<input type="text">

			<label>Media type</label>
			<select>
				<option>Print</option>
				<option>Online</option>
			</select> -->
			
			<label>Publication date</label>
			<input type="date">
			
			<div>
				<button id="btn-next-doi" class="btn primary disabled">Next</button>
			</div>

		</form>
	</div>
</div>


