<%= partial :header %>

<div class="row">
  <div class="span10 offset1">
    <%= partial :steps, :position => :upload %>
    <form method="post" enctype="multipart/form-data" encoding="multipart/form-data">
      <input class="input-file" type="file" name="file"/>
      <button class="btn">Upload</button>
    </form>
  </div>
</div>