<%= partial :header %>

<script src="https://api.filepicker.io/v1/filepicker.js"></script>
<script type="text/javascript">
  filepicker.setKey('AXid9uyt4Tva7JAusFkHBz');
</script>

<div class="row">
  <div class="span10 offset1">
    <%= partial :steps, :position => :upload %>
  </div>
</div>

<div class="row">
  <div class="span10 offset1">
    <div id="pick-button" class="well dashed-well">
      <center>
        <h3 class="muted">Click to upload a PDF...</h3>
      </center>
    </div>
  </div>
</div>

<div class="row">
  <div class="span10 offset1">
    <div class="pull-right">
      <button id="btn-next-doi" class="btn btn-success disabled"><i class="icon-circle-arrow-right"></i> Next</button>
    </div>
  </div>
</div>
