<ol>
  <% citations.each do |citation| %>
    <li>
      <%= citation[:text] %>
      <% if citation.has_key?(:doi) %>
        <a href="http://dx.doi.org/<%= citation[:doi] %>">
          http://dx.doi.org/<%= citation[:doi] %>
        </a>
      <% end %>
    </li>
  <% end %>
</ol>