<%= partial :header %>

<div class="row">
  <div class="span10 offset1">

    <h3>The CrossRef References Widget</h3>

    <p>Easily add linked references to your landing pages.</p>
  
    <h3>Check a Landing Page</h3>
    
    <p>Not sure you've applied the References Widget correctly? Enter the URL of a
       landing page below and we'll check that it is correctly set up. We'll also
       check for citations.</p>

    <div class="well controls">
      <div class="input-append" style="text-align: center;">
	<input class="span8" id="input-url" type="text" placeholder="Enter a langing page URL...">
	<button class="btn" id="btn-check" type"button"><i class="icon-refresh"></i> Check</button>
      </div>
      <div id="check-result"></div>
    </div>
  
  </div>
</div>
