<h3>References by CrossRef</h3>
<ol>
  <% citations.each do |citation| %>
    <li>
      <%= citation[:text] %>
      <% if citation.has_key?(:doi) %>
        <a href="https://doi.org/<%= citation[:doi] %>">
          https://doi.org/<%= citation[:doi] %>
        </a>
      <% end %>
    </li>
  <% end %>
</ol>

