cr-yellow {
  color: rgb(235, 245, 167);
}

cr-red {
  color: rgb(167, 81, 74);
}

cr-blue {
  color: rgb(107, 163, 197);
}

cr-yellow-dark {
}

cr-red-dark {
}

cr-blue-dark {
  color: rgb(6, 116, 153);
}

cr-yellow-light {
  color: rgb(265, 275, 197);
}

cr-red-light {
  color: rgb(197, 91, 104);
}

cr-blue-light {
  color: rgb(137, 193, 227);
}

cr-yellow-light-bg {
  background-color: rgb(265, 275, 197);
}

cr-red-light-bg {
  background-color: rgb(197, 91, 104);
}

cr-blue-light-bg {
  background-color: rgb(137, 193, 227);
}

.lead li {
  padding: .2em;
  line-height: 1.2em;
}

.full-width {
  width: 100%;
}

.very-tall {
  height: 15em;
}

.step-tab p {
  font-size: 1.3em;
}

.step-number {
  font-size: 1.6em;
}

.step-tab.off {
  color: grey;
  background-color: white;
}
 

