cr-yellow {
  color: rgb(235, 245, 167);
}

cr-red {
  color: rgb(167, 81, 74);
}

cr-blue {
  color: rgb(107, 163, 197);
}

cr-yellow-dark {
}

cr-red-dark {
}

cr-blue-dark {
  color: rgb(6, 116, 153);
}

cr-yellow-light {
}

cr-red-light {
}

cr-blue-light {
}

cr-yellow-light-bg {
}

cr-red-light-bg {
}

cr-blue-light-bg {
}

