.cr-yellow {
  color: rgb(195, 205, 127);
}

.cr-red {
  color: rgb(167, 81, 74);
}

.cr-blue {
  color: rgb(107, 163, 197);
}

.cr-yellow-dark {
}

.cr-red-dark {
}

.cr-blue-dark {
  color: rgb(6, 116, 153);
}

.cr-yellow-light {
  color: rgb(265, 275, 197);
}

.cr-red-light {
  color: rgb(197, 91, 104);
}

.cr-blue-light {
  color: rgb(137, 193, 227);
}

.cr-yellow-light-bg {
  background-color: rgb(215, 225, 147);
}

.cr-red-light-bg {
  background-color: rgb(217, 111, 124);
}

.cr-blue-light-bg {
  background-color: rgb(157, 213, 247);
}

.lead li {
  padding: .2em;
  line-height: 1.2em;
}

.full-width {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.very-tall {
  height: 15em;
}

.step-tab.off {
  color: grey;
  background-color: white;
}

.circle {
  padding: .1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

.header-row img {
  width: 15em;
}

.step-tab {
  font-size: 1.3em;
  padding: .5em;
}

.step-number {
  font-size: 1.4em;
}

.steps-row {
  margin-bottom: 3em;
}

.bg-grey {
  background-color: #efefef;
}

.citation-row p {
  font-size: 1.3em;
}

.citation-row:hover {
  border-color: rgb(58, 135, 173);
} 

.result-row:hover {
  background-color: #efefef;
  cursor: pointer;
}

table.table {
  border-top: none;
}

#search-result {
  font-size: 1.6em;
  line-height: 1.1em;
}

.loader {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.dashed-well {
  margin-top: 4em;
  border: 2px dashed grey;
  cursor: pointer;
}

.success-dashed-well {
  margin-top: 4em;
  border: 2px dashed green;
}

.row-time-info {
  margin-right: 3em;
  color: #777;
}

.cell-left {
  width: 11em;
}

.cell-right {
  text-align: right;
}

ul.inline > li {
  padding-right: 5px;
  display: inline-block;
}

ul.dropdown-menu a {
  line-height: 1.6em;
  font-size: .8em;
}

.slim {
  margin-top: 0px;
}

#header-logo {
  width: 12em;
}

.citation-controls {
  display: none;
}