@linkColor: #2ec7e0;
@linkColorNegative: #fff;
@baseGrid : 12px;
@baseFontSize : @baseGrid *1.25;
@fontSerif:  'Open Sans', sans-serif;
@fontSansSerif : Georgia, Times, "Times New Roman", serif;

// colours
@lightgrey : #ccc;
@colorBeigeDark: #9c8c7d;


// Bootstrap Overides
html, body {
  font-size: @baseFontSize;
  line-height: 1.5em;
}

// Mixins 

.cite {
  font-family: @fontSansSerif;
  font-weight: 400;
  line-height: 1.5em;
}

.doi {
  font-family: @fontSansSerif;
  font-weight: 400;
  color: @colorBeigeDark;
  margin-bottom: 1em;
}

a {
  color: @linkColor;
}

.negative{
  a {
    color: @linkColorNegative;
  }
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  width: 100%;
  padding: 1.25em 0.5em;
  -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
  -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
   box-sizing:        border-box;   /* Everything else */
}

// Resets
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: @baseFontSize * 3;
  line-height: 1.5em;
}

// Main CSS

header {
  background-color: @linkColor;
}

.jumbotron {
  text-align: center;
  background-color: #2ec7e0;
}


.masthead {
  padding: @baseGrid * 4 0;
  color: #fff;
}

.masthead h1 {
  font-size: 5em;
  line-height: 1.5em;
}

.masthead .byline {
  font-size: 1.75em;
  margin-bottom: 2em;
  font-weight: 100;
  letter-spacing: 0.07em;
}

.masthead .btn {
  margin-bottom: @baseGrid;
}

.marketing {
  text-align: center;
}

.marketing h2 {
  font-size: 2em;
  font-weight: 300;
}

.logo {
  height: @baseGrid * 3;
  padding: @baseGrid 0;
  overflow: hidden;
  float: left;

}

.logo img {
  height: @baseGrid * 6;
  position: relative;
}

.negative .logo img {
  top: -@baseGrid *3;
}

.nav {
  float: right;
}

// pages

// DOI page
.doi-page h1 {
  font-size: @baseFontSize * 3;
  .cite;
}

.doi-page .content {
  padding: @baseGrid*3 0;
  .doi {
    font-size: @baseFontSize *2;
    line-height: 1.5em;
    display: block;
  }
}
.cite-list {
  border-top: @baseGrid/3 solid @lightgrey;
  padding: @baseGrid 0;
  margin: @baseGrid 0;
}

.cite-list li {
  border-bottom: 1px solid @lightgrey;
  padding: @baseGrid*2 0;
}

.cite-list li:first-child {
    border-top: 1px solid @lightgrey;
}

.cite-list .doi {
  display: block;
}

.cite-title {
  .cite;
  display: block;
  font-size: 1.25em;
}

// Activity
.page-activity table {
  margin: @baseGrid*2 0;
}

// Forms 

.upload form {
  max-width: @baseGrid * 40;
  border: 1px solid #ccc;
  padding: @baseGrid *3;
  margin: 0 auto;
}




